*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    
}


header nav{
    height: 92px;
    width: 1600px;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    margin: 0 auto;
    background-color: #636060;
    align-items: center;
}


header nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

button {
    margin: 0% auto;
    padding: 12px 16px;
    background-color: #469165;
    color: aliceblue;
    font-weight: 300;
    font-size: 16px;
    border-radius: 5px;
}